@page "/"

<TodoList.Wasm.Components.Task.TaskList />


<footer>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        This application uses the browser's Local Storage to store data.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</footer>